<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fb08651-4cd4-49d9-9dd0-6f637ec6363e" Alias="Accordion Block List" Level="2">
	<Info>
		<Name>Accordion Block List</Name>
		<EditorAlias>Umbraco.BlockList</EditorAlias>
		<DatabaseType>Ntext</DatabaseType>
		<Folder>Block+Grid</Folder>
	</Info>
	<Config>
		<![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2206cd26-80fb-4a81-99b4-a27533ef6fd5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]>
	</Config>
</DataType>