<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d455ec3d-a214-4b10-9d77-ca61ea867cd0" Alias="Block List" Level="2">
  <Info>
    <Name>Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "stylesheet": "~/css/myblockgridlayout.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "contentElementTypeKey": "43e5784f-e3f1-4725-8d2c-876cadaba21b"
    },
    {
      "contentElementTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332"
    },
    {
      "contentElementTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33"
    },
    {
      "contentElementTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f"
    },
    {
      "contentElementTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae"
    },
    {
      "contentElementTypeKey": "054fd67a-a72d-4044-8226-11abeab7937d"
    },
    {
      "contentElementTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd"
    }
  ],
  "maxPropertyWidth": "100%",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>