<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebf7e46f-4178-413f-97c2-12822e196237" Alias="Email Address" Level="1">
  <Info>
    <Name>Email Address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>