<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c215a47-4b4e-4c1e-b45c-b765ce403d95" Alias="Markdown Editor" Level="1">
  <Info>
    <Name>Markdown Editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>