<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ada22c86-29c3-419a-9760-ad0425883ae7" Alias="Percentage" Level="1">
  <Info>
    <Name>Percentage</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 0,
  "initVal2": 0,
  "maxVal": 100,
  "minVal": 0,
  "step": 1
}]]></Config>
</DataType>