<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5125e92-927c-4685-a1c5-54f432364af1" Alias="Single Block Editor" Level="2">
  <Info>
    <Name>Single Block Editor</Name>
    <EditorAlias>Umbraco.SingleBlock</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockSingle</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "settingsElementTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>