<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ec66e71-78e3-4305-8e48-127821b3f873" Alias="User Picker" Level="1">
  <Info>
    <Name>User Picker</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UserPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>