<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8d84392-3299-4247-8556-48894c174941" Alias="Block List - Content" Level="1">
  <Info>
    <Name>Block List - Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66"
    }
  ]
}]]></Config>
</DataType>