<?xml version="1.0" encoding="utf-8"?>
<DataType Key="522af7ab-361a-48ee-8ca2-1f2f1e098d2a" Alias="Rich Text Block Grid" Level="2">
  <Info>
    <Name>Rich Text Block Grid</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "displayInline": false,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/myblockgridlayout.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "contentElementTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66"
    }
  ],
  "extensions": [
    "Umb.Tiptap.Block",
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.TextDirection",
    "Umb.Tiptap.TextIndent",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.WordCount"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "overlaySize": "small",
  "stylesheets": [
    "/css/myblockgridlayout.css"
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.Undo",
        "Umb.Tiptap.Toolbar.Redo",
        "Umb.Tiptap.Toolbar.StyleSelect",
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList",
        "Umb.Tiptap.Toolbar.TextOutdent",
        "Umb.Tiptap.Toolbar.TextIndent",
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.BlockPicker"
      ]
    ]
  ]
}]]></Config>
</DataType>