<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed5a2c4-b6a0-4566-9d44-23fb7844abdc" Alias="Block List Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlockListTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockList</ContentType>
    <CreateDate>2024-04-23T14:41:04</CreateDate>
    <NodeName Default="Block List Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c021e223-9e49-4725-b942-eb2562f00b84">BlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "udi": "umb://element/19c9c9fb5c584eab834e46d23d712a01",
      "headline": "Test Hero",
      "image": "[{\u0022key\u0022:\u0022e8efa672-67e5-4dc3-ad31-022590b1d9d7\u0022,\u0022mediaKey\u0022:\u0022591f607c-6a13-4773-a868-76db1148ffb0\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "backgroundColor": "{\r\n  \u0022label\u0022: \u0022f5effb\u0022,\r\n  \u0022value\u0022: \u0022#f5effb\u0022\r\n}",
      "contrast": "{\r\n  \u0022label\u0022: \u0022000000\u0022,\r\n  \u0022value\u0022: \u0022#000000\u0022\r\n}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/19c9c9fb5c584eab834e46d23d712a01",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>