<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "label": "Red",
      "value": "ff0000"
    },
    {
      "label": "Green",
      "value": "00ff00"
    },
    {
      "label": "Blue",
      "value": "0000ff"
    },
    {
      "label": "Yellow",
      "value": "ffff00"
    },
    {
      "label": "Purple",
      "value": "800080"
    },
    {
      "label": "Orange",
      "value": "ff8c00"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>