<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3f77e71-396d-4f49-b264-b1eacd63cbca" Alias="Background colors" Level="2">
  <Info>
    <Name>Background colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "label": "000000",
      "value": "fbc4c5"
    },
    {
      "label": "c97990",
      "value": "c97990"
    },
    {
      "label": "f5effb",
      "value": "f5effb"
    },
    {
      "label": "f4f1ec",
      "value": "f4f1ec"
    },
    {
      "label": "f0d6c4",
      "value": "f0d6c4"
    },
    {
      "label": "102b3f",
      "value": "102b3f"
    },
    {
      "label": "062726",
      "value": "062726"
    },
    {
      "label": "113635",
      "value": "113635"
    }
  ],
  "useLabel": false
}]]></Config>
</DataType>