<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cef27c9-0478-4ab1-9703-c51302e69838" Alias="Theme - Dropdown" Level="1">
  <Info>
    <Name>Theme - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Red",
    "Blue"
  ]
}]]></Config>
</DataType>