<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed5a2c4-b6a0-4566-9d44-23fb7844abdc" Alias="Block List Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlockListTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockList</ContentType>
    <CreateDate>2024-04-23T14:41:04</CreateDate>
    <NodeName Default="Block List Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c021e223-9e49-4725-b942-eb2562f00b84">BlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "43e5784f-e3f1-4725-8d2c-876cadaba21b",
      "key": "11d9782e-7e5a-45a1-9152-dbfd11f28973",
      "udi": null,
      "values": [
        {
          "alias": "blockList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
                "key": "262c697d-b9db-47f7-9f5d-507fab25accd",
                "udi": null,
                "values": [
                  {
                    "alias": "headline",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Test"
                  },
                  {
                    "alias": "contentPicker",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/6e2ff1f7114e484ba407918daded1aa6"
                  },
                  {
                    "alias": "height",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "150"
                    ]
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bd823f3e-1587-4437-a946-58790b2be204",
                        "mediaKey": "ff67c98b-dc69-43ec-859a-d22bba816664",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "113635",
                      "value": "#113635"
                    }
                  },
                  {
                    "alias": "contrast",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "ffffff",
                      "value": "#ffffff"
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
                "key": "da8cc569-a488-42db-a62d-e86d5d5c5857",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "262c697d-b9db-47f7-9f5d-507fab25accd",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "262c697d-b9db-47f7-9f5d-507fab25accd",
                  "contentUdi": null,
                  "settingsKey": "da8cc569-a488-42db-a62d-e86d5d5c5857",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "11d9782e-7e5a-45a1-9152-dbfd11f28973",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "11d9782e-7e5a-45a1-9152-dbfd11f28973",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>