<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c561e29-7db2-4bc9-98cc-5278a60b3e8f" Alias="Content Picker Test" Level="1">
  <Info>
    <Name>Content Picker Test</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "ca01f2ad-4fde-42ff-9952-76629e8c1780",
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Site"
    }
  }
}]]></Config>
</DataType>