<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c561e29-7db2-4bc9-98cc-5278a60b3e8f" Alias="Content Picker Test" Level="1">
  <Info>
    <Name>Content Picker Test</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "blockGrid,blockList",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 2,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>