<?xml version="1.0" encoding="utf-8"?>
<DataType Key="522af7ab-361a-48ee-8ca2-1f2f1e098d2a" Alias="Rich Text Block Grid" Level="2">
  <Info>
    <Name>Rich Text Block Grid</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "displayInline": false,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/myblockgridlayout.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    }
  ],
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mediaParentId": null,
  "mode": "classic",
  "overlaySize": "small",
  "stylesheets": [
    "/css/myblockgridlayout.css"
  ],
  "toolbar": [
    "ace",
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "bold",
    "italic",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "link",
    "umbblockpicker"
  ],
  "useLiveEditing": false
}]]></Config>
</DataType>