<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a7da278-de8a-497d-afd4-48fac0cdb671" Alias="Hero - Height - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Hero - Height - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "100",
    "150",
    "200",
    "250"
  ]
}]]></Config>
</DataType>