<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb6965f8-5a5d-48e1-b272-0b39533e9b6b" Alias="Card - Buttons - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Card - Buttons - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b27373cd-3e5e-4828-b00b-7cebb2b06270"
    }
  ]
}]]></Config>
</DataType>