.preview-alert {
    background-color: #f0ac00;
    border: 1px solid transparent;
    border-radius: 0;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    position: relative;
}

    .preview-alert, .preview-alert a, .preview-alert h4 {
        color: #fff;
    }

        .preview-alert pre {
            white-space: normal;
        }

.preview-alert-warning {
    background-color: #f0ac00;
    border-color: transparent;
    color: #fff;
}

.preview-alert-info {
    background-color: #3544b1;
    border-color: transparent;
    color: #fff;
}

.preview-alert-danger, .preview-alert-error {
    background-color: #d42054;
    border-color: transparent;
    color: #fff;
}