<div ng-click="editBlock($event, block)" ng-focus="block.focus" class="blockelement__draggable-element" ng-class="{ '--active': block.active, '--error': parentForm.$invalid && valFormManager.isShowingValidation() }" ng-controller="Umbraco.Community.BlockPreview.Controllers.BlockPreviewController">

    <style>
        @import '/App_Plugins/Umbraco.Community.BlockPreview/css/block-preview.css?umb__rnd={{cacheBuster}}';
    </style>

    <div ng-bind-compile="markup"
         settings="block.settingsData">
        <div class="preview-alert preview-alert-info">
            <uui-loader style="color: #fff"></uui-loader>
            Loading preview...
        </div>
    </div>

</div>
