<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43cb281b-f6c5-47cb-aedd-92315390812e" Alias="singleBlock" Level="1">
  <Info>
    <Name>Single Block</Name>
    <Icon>icon-checkbox</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SingleBlock</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019cc94f-cb88-7601-ad98-8f1de58c9c2e">SingleBlock</Template>
    </AllowedTemplates>
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bcd6570b-2fb9-4a2f-92d9-b386c3352b27</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>e5125e92-927c-4685-a1c5-54f432364af1</Definition>
      <Type>Umbraco.SingleBlock</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e9c6b960-1947-4e0e-b88d-bd0ba25f4970</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>