<?xml version="1.0" encoding="utf-8"?>
<Content Key="752e3c1c-f713-449a-a54f-10f1ab447e63" Alias="Nested Block Grid Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/NestedBlockGridTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-01-23T09:39:45</CreateDate>
    <NodeName Default="Nested Block Grid Test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "key": "278edacc-89e3-4d99-afec-6731735238c9",
      "udi": null,
      "values": [
        {
          "alias": "nestedBlockGrid",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
                "key": "b9f61237-fbb9-4425-97c9-1bb67fb71451",
                "udi": null,
                "values": [
                  {
                    "alias": "contentPicker",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/6e2ff1f7114e484ba407918daded1aa6"
                  },
                  {
                    "alias": "headline",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Nested Hero"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e6bfb1d1-7470-4de7-81d3-a889ba5ee292",
                        "mediaKey": "ff67c98b-dc69-43ec-859a-d22bba816664",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "contrast",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "ffffff",
                      "value": "#ffffff"
                    }
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "label": "113635",
                      "value": "#113635"
                    }
                  },
                  {
                    "alias": "height",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "150"
                    ]
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
                "key": "847d6da8-d847-42d8-9d9a-39398931c361",
                "udi": null,
                "values": [
                  {
                    "alias": "dropdown",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "200"
                    ]
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "b9f61237-fbb9-4425-97c9-1bb67fb71451",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [
                    {
                      "items": [],
                      "key": "3b490f17-1471-4ac4-9434-60e676639e29"
                    }
                  ],
                  "columnSpan": 12,
                  "contentKey": "b9f61237-fbb9-4425-97c9-1bb67fb71451",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": "847d6da8-d847-42d8-9d9a-39398931c361",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "key": "b8584779-47a5-460e-ae8e-1dbf6823d930",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Card Test"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWith some rich text\u003C/p\u003E"
          }
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b21746f2-6864-498b-a7f0-a4bdaa25c9fd",
              "mediaKey": "8bf1f902-53a2-498e-a48b-26e35d42df57",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "key": "51016377-d515-4b7d-81f9-ee5d37b940f7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "6514a4a3-6a1e-41a9-a767-eeed015d2297",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
                  "key": "ec7def83-61a5-4fe0-8de7-9accd5987528",
                  "udi": null,
                  "values": [
                    {
                      "alias": "headline",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": "1234"
                    },
                    {
                      "alias": "height",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        "100"
                      ]
                    },
                    {
                      "alias": "contentPicker",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": "umb://document/6e2ff1f7114e484ba407918daded1aa6"
                    },
                    {
                      "alias": "mntp",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": "umb://document/6ac5363ad8124ce9aa893a3973426c70"
                    },
                    {
                      "alias": "contrast",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": {
                        "label": "ffffff",
                        "value": "#ffffff"
                      }
                    },
                    {
                      "alias": "image",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": [
                        {
                          "key": "addb506a-4901-412b-82ba-8b3c8e343573",
                          "mediaKey": "8bf1f902-53a2-498e-a48b-26e35d42df57",
                          "mediaTypeAlias": "",
                          "crops": [],
                          "focalPoint": null
                        }
                      ]
                    }
                  ]
                }
              ],
              "settingsData": [],
              "expose": [
                {
                  "contentKey": "ec7def83-61a5-4fe0-8de7-9accd5987528",
                  "culture": null,
                  "segment": null
                }
              ],
              "Layout": {
                "Umbraco.RichText": [
                  {
                    "contentKey": "ec7def83-61a5-4fe0-8de7-9accd5987528",
                    "contentUdi": null,
                    "settingsKey": null,
                    "settingsUdi": null
                  }
                ]
              }
            },
            "markup": "\u003Cp\u003ERich Text\u003C/p\u003E\n\u003Cumb-rte-block data-content-key=\u0022ec7def83-61a5-4fe0-8de7-9accd5987528\u0022\u003E\u003C/umb-rte-block\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "be5485a2-32fb-4f6a-8b22-ef4bb89d5fd0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "3ced8b30-96d8-4fba-9c07-a9112f2b6ea8",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "278edacc-89e3-4d99-afec-6731735238c9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b8584779-47a5-460e-ae8e-1dbf6823d930",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "51016377-d515-4b7d-81f9-ee5d37b940f7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6514a4a3-6a1e-41a9-a767-eeed015d2297",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b8584779-47a5-460e-ae8e-1dbf6823d930",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "278edacc-89e3-4d99-afec-6731735238c9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "be5485a2-32fb-4f6a-8b22-ef4bb89d5fd0",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6514a4a3-6a1e-41a9-a767-eeed015d2297",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "51016377-d515-4b7d-81f9-ee5d37b940f7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3ced8b30-96d8-4fba-9c07-a9112f2b6ea8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>