<?xml version="1.0" encoding="utf-8"?>
<Content Key="048a558e-28f5-4a7b-837e-60bef6bf540d" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-03-28T09:55:35</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "4e843fc9-6a2c-4735-8d80-71c417e262fb",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c134f606-d8c0-4f66-adaf-19e743d5872c",
              "mediaKey": "8bf1f902-53a2-498e-a48b-26e35d42df57",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Five ways to reduce your greenhouse gas emissions"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "062726",
            "label": "062726",
            "sortOrder": 6,
            "id": "7"
          }
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "ffffff",
            "value": "#ffffff"
          }
        },
        {
          "alias": "contentPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/6e2ff1f7114e484ba407918daded1aa6"
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "150"
          ]
        },
        {
          "alias": "mntp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/6ac5363ad8124ce9aa893a3973426c70"
        },
        {
          "alias": "slider",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30"
        }
      ]
    },
    {
      "contentTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "key": "f55687a5-3179-4626-b52d-db495a08dd15",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "See our solutions",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/6ac5363ad8124ce9aa893a3973426c70",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "f8bc9532-9297-40aa-a909-031c15dd9ed7",
      "udi": null,
      "values": [
        {
          "alias": "dropdown",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "100"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0e4b8ac3-466d-457f-b7d6-59aa259fab4f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c98140c0-eb93-4737-9857-8b106e69d30c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9b768fa9-6da9-4027-939f-3e8807f810b3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4e843fc9-6a2c-4735-8d80-71c417e262fb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f55687a5-3179-4626-b52d-db495a08dd15",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "f55687a5-3179-4626-b52d-db495a08dd15",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "3b490f17-1471-4ac4-9434-60e676639e29"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4e843fc9-6a2c-4735-8d80-71c417e262fb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f8bc9532-9297-40aa-a909-031c15dd9ed7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>