<?xml version="1.0" encoding="utf-8"?>
<Content Key="752e3c1c-f713-449a-a54f-10f1ab447e63" Alias="Nested Block Grid Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/NestedBlockGridTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-01-23T09:39:45</CreateDate>
    <NodeName Default="Nested Block Grid Test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/23dd0d6d3f534d5f8ea3c046f1aaa845",
        "settingsUdi": "umb://element/7eb9cadc5afc404a89b4e5c3c7bba4e2",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": [
              {
                "contentUdi": "umb://element/2c2f9c4b472b4f15949e125a43d2c9d7",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "nestedBlockGrid": "",
      "udi": "umb://element/23dd0d6d3f534d5f8ea3c046f1aaa845"
    },
    {
      "blockList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ac0c4525d0cc4b18ab3dae2c513b96ae",
              "settingsUdi": "umb://element/290cdbec75664186adfaae550b10c810"
            }
          ]
        },
        "contentData": [
          {
            "backgroundColor": {
              "value": "113635",
              "label": "113635",
              "sortOrder": 7,
              "id": "0"
            },
            "contentPicker": "",
            "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
            "contrast": {
              "value": "ffffff",
              "label": "ffffff",
              "sortOrder": 1,
              "id": "0"
            },
            "headline": "Hero inside Block List inside Block Grid",
            "height": "",
            "image": [
              {
                "key": "7a39ebcd-b374-402e-8d0b-1eaf5890d8b7",
                "mediaKey": "87b7776d-f21b-4dda-8325-87b4d004dceb"
              }
            ],
            "mNTP": "",
            "repeatingTextString": "",
            "udi": "umb://element/ac0c4525d0cc4b18ab3dae2c513b96ae"
          }
        ],
        "settingsData": [
          {
            "backgroundColor": "",
            "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
            "contrast": "",
            "udi": "umb://element/290cdbec75664186adfaae550b10c810"
          }
        ]
      },
      "contentTypeKey": "43e5784f-e3f1-4725-8d2c-876cadaba21b",
      "udi": "umb://element/2c2f9c4b472b4f15949e125a43d2c9d7"
    }
  ],
  "settingsData": [
    {
      "backgroundColor": "",
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "contrast": "",
      "udi": "umb://element/7eb9cadc5afc404a89b4e5c3c7bba4e2"
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>