<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a7da278-de8a-497d-afd4-48fac0cdb671" Alias="Hero - Height - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Hero - Height - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "100"
    },
    {
      "id": 2,
      "value": "150"
    },
    {
      "id": 3,
      "value": "200"
    },
    {
      "id": 4,
      "value": "250"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>