<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed5a2c4-b6a0-4566-9d44-23fb7844abdc" Alias="Block List Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlockListTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockList</ContentType>
    <CreateDate>2024-04-23T14:41:04</CreateDate>
    <NodeName Default="Block List Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c021e223-9e49-4725-b942-eb2562f00b84">BlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "key": "ff6c544c-32fb-4f15-ad9c-5bafda1d0d56",
      "udi": null,
      "values": [
        {
          "alias": "nestedBlockGrid",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
                "key": "fbf69b20-1a34-450d-8972-07b35aaf4890",
                "udi": null,
                "values": [
                  {
                    "alias": "nestedBlockGrid",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
                          "key": "bf0b6947-a743-437c-9d6f-f8df9fc1329e",
                          "udi": null,
                          "values": []
                        },
                        {
                          "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
                          "key": "6cbc9d60-daa3-4994-966b-8eb250ed596c",
                          "udi": null,
                          "values": [
                            {
                              "alias": "headline",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Nested Nested Text"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
                          "key": "11fa14c4-e6e2-4db6-ba3d-e33f21fbcab2",
                          "udi": null,
                          "values": [
                            {
                              "alias": "headline",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Nested Nested Text"
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
                          "key": "678a0b5e-9e24-4645-8e32-2b04dba59330",
                          "udi": null,
                          "values": []
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "bf0b6947-a743-437c-9d6f-f8df9fc1329e",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "6cbc9d60-daa3-4994-966b-8eb250ed596c",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "11fa14c4-e6e2-4db6-ba3d-e33f21fbcab2",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockGrid": [
                          {
                            "areas": [
                              {
                                "items": [
                                  {
                                    "areas": [],
                                    "columnSpan": 6,
                                    "contentKey": "6cbc9d60-daa3-4994-966b-8eb250ed596c",
                                    "contentUdi": null,
                                    "rowSpan": 1,
                                    "settingsKey": null,
                                    "settingsUdi": null
                                  }
                                ],
                                "key": "d4ba196a-e79a-44d2-8d0c-4299be791898"
                              },
                              {
                                "items": [
                                  {
                                    "areas": [],
                                    "columnSpan": 6,
                                    "contentKey": "11fa14c4-e6e2-4db6-ba3d-e33f21fbcab2",
                                    "contentUdi": null,
                                    "rowSpan": 1,
                                    "settingsKey": null,
                                    "settingsUdi": null
                                  }
                                ],
                                "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220"
                              }
                            ],
                            "columnSpan": 12,
                            "contentKey": "bf0b6947-a743-437c-9d6f-f8df9fc1329e",
                            "contentUdi": null,
                            "rowSpan": 1,
                            "settingsKey": "678a0b5e-9e24-4645-8e32-2b04dba59330",
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
                "key": "8d784f20-f351-4541-873e-6b386f880b22",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "33617a43-7031-4ef6-83c7-f110b4b57bc2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b549bc96-b26c-4cb7-bcc7-6ff4c833e81f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fbf69b20-1a34-450d-8972-07b35aaf4890",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockGrid": [
                {
                  "areas": [
                    {
                      "items": [],
                      "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3"
                    }
                  ],
                  "columnSpan": 12,
                  "contentKey": "fbf69b20-1a34-450d-8972-07b35aaf4890",
                  "contentUdi": null,
                  "rowSpan": 1,
                  "settingsKey": "8d784f20-f351-4541-873e-6b386f880b22",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ff6c544c-32fb-4f15-ad9c-5bafda1d0d56",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ff6c544c-32fb-4f15-ad9c-5bafda1d0d56",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>