<?xml version="1.0" encoding="utf-8"?>
<Content Key="048a558e-28f5-4a7b-837e-60bef6bf540d" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-03-28T09:55:35</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "key": "d61de3e3-5c3b-458d-8b64-2163912a12f6",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "key": "15eee847-543b-48e6-8bd5-cb78c9e3af62",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Headline"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "dc5a5d83-77fe-4e56-8c96-0e0ac5c94927",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "d61de3e3-5c3b-458d-8b64-2163912a12f6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "15eee847-543b-48e6-8bd5-cb78c9e3af62",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "15eee847-543b-48e6-8bd5-cb78c9e3af62",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898"
          },
          {
            "items": [],
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d61de3e3-5c3b-458d-8b64-2163912a12f6",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "dc5a5d83-77fe-4e56-8c96-0e0ac5c94927",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>