<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2b6e204-7e2e-4b6a-980b-5ec76e8efc62" Alias="Test (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test1</Path>
    <Trashed Parent="6e2ff1f7-114e-484b-a407-918daded1aa6">true</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2025-11-14T13:46:34</CreateDate>
    <NodeName Default="Test (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0cddab20-608c-4120-bd9c-0c9737331560">TextPage</Template>
  </Info>
  <Properties>
    <grid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c6dfa270-554a-44e1-8a02-eb02a9944d82",
      "udi": null,
      "key": "6cc542a9-d6e2-49bf-8188-5d004e89d023",
      "values": []
    },
    {
      "contentTypeKey": "c4d23258-3e20-49c4-95d1-1c8b76666431",
      "udi": null,
      "key": "61df5c1a-ca7b-4f47-a786-be25d5f57b61",
      "values": []
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": null,
      "key": "c39662f2-ddc7-49aa-88bf-43a6d4665e1a",
      "values": [
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "richText",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003ETest\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6cc542a9-d6e2-49bf-8188-5d004e89d023",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "61df5c1a-ca7b-4f47-a786-be25d5f57b61",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c39662f2-ddc7-49aa-88bf-43a6d4665e1a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "2d311b89-34c5-4d90-9af5-4383d862380b",
            "items": [
              {
                "columnSpan": 3,
                "rowSpan": 1,
                "areas": [],
                "contentUdi": null,
                "settingsUdi": null,
                "contentKey": "61df5c1a-ca7b-4f47-a786-be25d5f57b61",
                "settingsKey": null
              }
            ]
          },
          {
            "key": "4ca139d7-8f8b-4098-8f13-2c9f4c9d6be1",
            "items": [
              {
                "columnSpan": 9,
                "rowSpan": 1,
                "areas": [],
                "contentUdi": null,
                "settingsUdi": null,
                "contentKey": "c39662f2-ddc7-49aa-88bf-43a6d4665e1a",
                "settingsKey": null
              }
            ]
          }
        ],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "6cc542a9-d6e2-49bf-8188-5d004e89d023",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </grid>
  </Properties>
</Content>