<?xml version="1.0" encoding="utf-8"?>
<Content Key="048a558e-28f5-4a7b-837e-60bef6bf540d" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-03-28T09:55:35</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "key": "901fd923-1423-4579-b127-a4289e549815",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "key": "c98140c0-eb93-4737-9857-8b106e69d30c",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Global warming is already changing the environment, the economy, and people\u2019s ways of living."
        }
      ]
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "9b768fa9-6da9-4027-939f-3e8807f810b3",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022lead-paragraph\u0022\u003EWhat you can do to help reduce your carbon footprint depends on where you live, the resources you have, and how much time you can give. If you want to do something about global warming, however, then simple changes can have a big impact.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "7f421c20-10c8-4dde-92b7-8856b03d52bb",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "f4f1ec",
            "label": "f4f1ec",
            "sortOrder": 3,
            "id": "4"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0e4b8ac3-466d-457f-b7d6-59aa259fab4f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "901fd923-1423-4579-b127-a4289e549815",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c98140c0-eb93-4737-9857-8b106e69d30c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9b768fa9-6da9-4027-939f-3e8807f810b3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "c98140c0-eb93-4737-9857-8b106e69d30c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "9b768fa9-6da9-4027-939f-3e8807f810b3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220"
          }
        ],
        "columnSpan": 12,
        "contentKey": "901fd923-1423-4579-b127-a4289e549815",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "7f421c20-10c8-4dde-92b7-8856b03d52bb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>