<?xml version="1.0" encoding="utf-8"?>
<Content Key="048a558e-28f5-4a7b-837e-60bef6bf540d" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-03-28T09:55:35</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e7cd2fff-36b9-4853-9a29-5afe4c1c47bb",
      "key": "85cb75c6-4208-47e8-9acc-b6fc82c5130c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "382fa5c8-759a-4af0-8308-a6f61b57eac6",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "MNTP test"
        },
        {
          "alias": "mntp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/6ac5363ad8124ce9aa893a3973426c70"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "775544f8-3316-498c-8e45-be5cd4a65364",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "ecc3d6da-f293-4a47-8eb7-63c5826c3c19",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "a3d1fbc1-101d-4ac1-a753-37290d92a5b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bdd31450-155f-4c87-8956-7a5a16c7c3ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a607ffbe-1926-4d26-90f9-4bb5a49cee0b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "345ba960-7081-4f85-9a42-1556da152756",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "004654cd-3910-46cf-8357-0735e0ee3130",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1ac15cab-455a-4165-97c0-11f6241fd7a2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5b2ec74f-9a3e-4b49-9871-dec01c09b159",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bb0e34ea-cf5c-41c4-acfb-84dd888e8883",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8af43a33-f525-4d32-986d-46fa1d484fee",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6d776472-c41c-47a5-ad57-dfe009438854",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "42fa8823-29f5-43e8-8f8f-9a07adfe7b52",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "61743a09-de99-41f3-9534-256a67ac84ce",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "69f04058-bc86-4582-bb20-e52980d8ac10",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "35d12a3b-fcea-4a35-9c6a-ddb7b06b3e53",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f422f1a0-7edd-4d0e-a10d-dc883428b787",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "19ea3951-096e-426d-b8eb-8e813982e12c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "909a3c28-0be8-466a-ace0-b82a5969708c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "85cb75c6-4208-47e8-9acc-b6fc82c5130c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "382fa5c8-759a-4af0-8308-a6f61b57eac6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [
                  {
                    "items": [],
                    "key": "3b490f17-1471-4ac4-9434-60e676639e29"
                  }
                ],
                "columnSpan": 6,
                "contentKey": "382fa5c8-759a-4af0-8308-a6f61b57eac6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ecc3d6da-f293-4a47-8eb7-63c5826c3c19",
                "settingsUdi": null
              }
            ],
            "key": "d4ba196a-e79a-44d2-8d0c-4299be791898"
          },
          {
            "items": [],
            "key": "f651b4c1-6dcb-4e3b-9c45-8d11d1594220"
          }
        ],
        "columnSpan": 12,
        "contentKey": "85cb75c6-4208-47e8-9acc-b6fc82c5130c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "775544f8-3316-498c-8e45-be5cd4a65364",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>