<?xml version="1.0" encoding="utf-8"?>
<Content Key="84db8a14-eb57-4c8c-bd86-dcc723495091" Alias="Accordion Test Page" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/AccordionTestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-06-04T13:29:47</CreateDate>
    <NodeName Default="Accordion Test Page" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/fe85165410984a6c8b8fd15d89510467",
        "settingsUdi": "umb://element/bdcbc88d488947958ae5989d04521be9",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "accordionItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/435214ff57fa4197b131a8291ec4f4ed"
            }
          ]
        },
        "contentData": [
          {
            "blockContent": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/c5d687fd297047aea00d00d5855792d2",
                    "settingsUdi": "umb://element/d1f63318cba4406cbee9b35e1a893165",
                    "areas": [
                      {
                        "key": "3b490f17-1471-4ac4-9434-60e676639e29",
                        "items": []
                      }
                    ],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "backgroundColor": "",
                  "contentPicker": "",
                  "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
                  "contrast": "",
                  "headline": "Hero",
                  "height": "",
                  "image": [],
                  "mNTP": "umb://document/6e2ff1f7114e484ba407918daded1aa6",
                  "repeatingTextString": "",
                  "udi": "umb://element/c5d687fd297047aea00d00d5855792d2"
                }
              ],
              "settingsData": [
                {
                  "contentTypeKey": "e43a7789-871a-49c5-8433-2ffa61ad9011",
                  "dropdown": "",
                  "udi": "umb://element/d1f63318cba4406cbee9b35e1a893165"
                }
              ]
            },
            "contentTypeKey": "2206cd26-80fb-4a81-99b4-a27533ef6fd5",
            "title": "Item 1",
            "udi": "umb://element/435214ff57fa4197b131a8291ec4f4ed"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "4036a141-f838-4bca-b7b7-4e14e3dbf4f0",
      "udi": "umb://element/fe85165410984a6c8b8fd15d89510467"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e43a7789-871a-49c5-8433-2ffa61ad9011",
      "dropdown": "",
      "udi": "umb://element/bdcbc88d488947958ae5989d04521be9"
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>