<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed5a2c4-b6a0-4566-9d44-23fb7844abdc" Alias="Block List Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlockListTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockList</ContentType>
    <CreateDate>2024-04-23T14:41:04</CreateDate>
    <NodeName Default="Block List Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c021e223-9e49-4725-b942-eb2562f00b84">BlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c631ffb2f8ae4a179b570b18943a6382"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "43e5784f-e3f1-4725-8d2c-876cadaba21b",
      "udi": "umb://element/c631ffb2f8ae4a179b570b18943a6382",
      "blockList": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/937bf135249e49cb9c7f60c6539421a3",
              "settingsUdi": "umb://element/68fba16b859245608f654eb56c5c0b00"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
            "udi": "umb://element/937bf135249e49cb9c7f60c6539421a3",
            "headline": "Nested Hero",
            "image": [],
            "backgroundColor": {
              "value": "113635",
              "label": "113635",
              "sortOrder": 7,
              "id": "0"
            },
            "contrast": {
              "value": "ffffff",
              "label": "ffffff",
              "sortOrder": 1,
              "id": "0"
            },
            "contentPicker": "umb://document/6e2ff1f7114e484ba407918daded1aa6",
            "height": [
              "200"
            ]
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
            "udi": "umb://element/68fba16b859245608f654eb56c5c0b00",
            "backgroundColor": "",
            "contrast": ""
          }
        ]
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
  </Properties>
</Content>