<?xml version="1.0" encoding="utf-8"?>
<Content Key="752e3c1c-f713-449a-a54f-10f1ab447e63" Alias="Nested Block Grid Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/NestedBlockGridTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-01-23T09:39:45</CreateDate>
    <NodeName Default="Nested Block Grid Test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/23dd0d6d3f534d5f8ea3c046f1aaa845",
        "settingsUdi": "umb://element/7eb9cadc5afc404a89b4e5c3c7bba4e2",
        "areas": [
          {
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "udi": "umb://element/23dd0d6d3f534d5f8ea3c046f1aaa845",
      "nestedBlockGrid": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/e1388133279e4834b8cc8ef6bbf9a644",
              "areas": [
                {
                  "key": "3b490f17-1471-4ac4-9434-60e676639e29",
                  "items": []
                }
              ],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
            "udi": "umb://element/e1388133279e4834b8cc8ef6bbf9a644",
            "headline": "Nested Hero",
            "image": [],
            "backgroundColor": {
              "value": "113635",
              "label": "113635",
              "sortOrder": 7,
              "id": "0"
            },
            "contrast": {
              "value": "ffffff",
              "label": "ffffff",
              "sortOrder": 1,
              "id": "0"
            },
            "contentPicker": "umb://document/6e2ff1f7114e484ba407918daded1aa6",
            "height": [
              "200"
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/7eb9cadc5afc404a89b4e5c3c7bba4e2",
      "backgroundColor": "",
      "contrast": ""
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>