<?xml version="1.0" encoding="utf-8"?>
<Content Key="99ae9a24-9edf-49f0-a4c0-780ca3c9d909" Alias="Test (1)" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test1</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-05-14T11:10:19</CreateDate>
    <NodeName Default="Test (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/5e7851850b2347ef9012756233cabb90",
        "settingsUdi": "umb://element/3ff9772550754e0dae9f9e9ad4b2977d",
        "areas": [
          {
            "key": "3b490f17-1471-4ac4-9434-60e676639e29",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "backgroundColor": "",
      "contentPicker": "",
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "contrast": "",
      "headline": "Test",
      "height": "",
      "image": [],
      "mNTP": "",
      "repeatingTextString": "",
      "udi": "umb://element/5e7851850b2347ef9012756233cabb90"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e43a7789-871a-49c5-8433-2ffa61ad9011",
      "dropdown": "",
      "udi": "umb://element/3ff9772550754e0dae9f9e9ad4b2977d"
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>