<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d382f3b-a53a-4057-9529-d5de06e7f410" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-02-02T08:45:25</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "3b490f17-1471-4ac4-9434-60e676639e29",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/27a07955ed6c470892f05df4b2862100",
        "settingsUdi": "umb://element/31e1b8ca5ad8416dafb7790b04e985b9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "udi": "umb://element/27a07955ed6c470892f05df4b2862100",
      "image": [
        {
          "key": "c134f606-d8c0-4f66-adaf-19e743d5872c",
          "mediaKey": "8bf1f902-53a2-498e-a48b-26e35d42df57"
        }
      ],
      "headline": "Five ways to reduce your greenhouse gas emissions",
      "backgroundColor": {
        "value": "062726",
        "label": "062726",
        "sortOrder": 6,
        "id": "7"
      },
      "contrast": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "contentPicker": "umb://document/6e2ff1f7114e484ba407918daded1aa6",
      "height": [
        "150"
      ],
      "repeatingTextString": "Test 1\nTest 2\nTest 3"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e43a7789-871a-49c5-8433-2ffa61ad9011",
      "udi": "umb://element/31e1b8ca5ad8416dafb7790b04e985b9",
      "dropdown": [
        "150"
      ]
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>