<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d173816-0620-4368-a121-b8c0b2dfe95b" Alias="test (1)" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2023-09-01T17:13:00</CreateDate>
    <NodeName Default="test (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/817816df1a3f4f47b3cd1622f6602042",
        "settingsUdi": "umb://element/310848da74b74a85893478ee434fb3e7",
        "areas": [
          {
            "key": "8c07971d-0b53-4b8b-8c4c-826497dbb9e1",
            "items": [
              {
                "contentUdi": "umb://element/e1beccef6a9c4ea08fae9aca97f87c2f",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fa86159f-27b7-48ca-8bed-93566ccc7352",
            "items": [
              {
                "contentUdi": "umb://element/27e3be3dcf384a199aa88caa70e02424",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d101715e-8e36-4899-b596-c19fc0793846",
            "items": [
              {
                "contentUdi": "umb://element/90e4ce4260a9450ea68ad85c8276b0bb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "054fd67a-a72d-4044-8226-11abeab7937d",
      "udi": "umb://element/817816df1a3f4f47b3cd1622f6602042"
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/e1beccef6a9c4ea08fae9aca97f87c2f",
      "image": [
        {
          "key": "e2f775d5-67f1-4c0d-8e73-dc3de7606e49",
          "mediaKey": "43933cb4-0d29-412e-8e89-25ae76274b05"
        }
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": "umb://element/27e3be3dcf384a199aa88caa70e02424",
      "image": [
        {
          "key": "41f8090a-a20f-4d0e-8f33-813cadf497b1",
          "mediaKey": "87b7776d-f21b-4dda-8325-87b4d004dceb"
        }
      ]
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": "umb://element/90e4ce4260a9450ea68ad85c8276b0bb",
      "headline": "Test 12 3"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": "umb://element/310848da74b74a85893478ee434fb3e7",
      "backgroundColor": "",
      "contrast": ""
    }
  ]
}]]></Value>
    </content>
  </Properties>
</Content>