<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d173816-0620-4368-a121-b8c0b2dfe95b" Alias="test (1)" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/test1</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2023-09-01T17:13:00</CreateDate>
    <NodeName Default="test (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bce3dfc2-5152-427f-999b-0f0901548bdc">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/db375ac1d47145ae8203c603481a6e52",
        "areas": [
          {
            "key": "3b490f17-1471-4ac4-9434-60e676639e29",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "udi": "umb://element/db375ac1d47145ae8203c603481a6e52",
      "image": [],
      "headline": "Test",
      "contrast": {
        "value": "000000",
        "label": "000000",
        "sortOrder": 0,
        "id": "1"
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </content>
  </Properties>
</Content>