<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d173816-0620-4368-a121-b8c0b2dfe95b" Alias="test (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test1</Path>
    <Trashed Parent="6e2ff1f7-114e-484b-a407-918daded1aa6">true</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2023-09-01T17:13:00</CreateDate>
    <NodeName Default="test (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "db375ac1-d471-45ae-8203-c603481a6e52",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test"
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "ffffff",
            "value": "#ffffff"
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "113635",
            "value": "#113635"
          }
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "100"
          ]
        },
        {
          "alias": "contentPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/6e2ff1f7114e484ba407918daded1aa6"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "db375ac1-d471-45ae-8203-c603481a6e52",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "23ff8650-33a2-493a-bdc0-9494f25a3b5a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f47bac51-66ee-474b-b668-01476d8cdc89",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "afdf3731-52ea-4384-aef5-609db7f969d9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "3b490f17-1471-4ac4-9434-60e676639e29"
          }
        ],
        "columnSpan": 12,
        "contentKey": "db375ac1-d471-45ae-8203-c603481a6e52",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>