<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a35b480-611f-49a1-b8c3-cd76ad5fe86e" Alias="Red Block List" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/RedBlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>themedBlockList</ContentType>
    <CreateDate>2025-11-18T00:25:49</CreateDate>
    <NodeName Default="Red Block List" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a48d2bf3-dff7-46fe-8e77-8c66e54a7523">ThemedBlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "6bc62cdf-0a5f-42f7-9bd3-5b62bc94bc48",
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test Headline"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c3fc37d9-a400-4da3-8196-874678e37c30",
              "mediaKey": "591f607c-6a13-4773-a868-76db1148ffb0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "000000",
            "value": "#fbc4c5"
          }
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "000000",
            "value": "#000000"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "40711b14-ed8c-4540-9ec7-3b11a639a770",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "6bc62cdf-0a5f-42f7-9bd3-5b62bc94bc48",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6bc62cdf-0a5f-42f7-9bd3-5b62bc94bc48",
        "settingsKey": "40711b14-ed8c-4540-9ec7-3b11a639a770"
      }
    ]
  }
}]]></Value>
    </content>
    <theme>
      <Value><![CDATA[[
  "Red"
]]]></Value>
    </theme>
  </Properties>
</Content>