<?xml version="1.0" encoding="utf-8"?>
<Content Key="952f7cfb-b697-4876-81d7-b00f231f5d2d" Alias="Single Block" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/SingleBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>singleBlock</ContentType>
    <CreateDate>2026-03-07T17:20:57</CreateDate>
    <NodeName Default="Single Block" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019cc94f-cb88-7601-ad98-8f1de58c9c2e">SingleBlock</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "9d80b052-e8e9-4483-a8db-dea6edf15c74",
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Single Block Test"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "473889db-d43a-415b-9d8b-29e669295930",
              "mediaKey": "a9dc08cd-1374-4677-89c6-4228d5879e0f",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "7b560f95-6785-4d16-a4ff-afc0738ad203",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "9d80b052-e8e9-4483-a8db-dea6edf15c74",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.SingleBlock": [
      {
        "contentKey": "9d80b052-e8e9-4483-a8db-dea6edf15c74",
        "settingsKey": "7b560f95-6785-4d16-a4ff-afc0738ad203"
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>