<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d297f0d-28c5-4d99-83e4-d5b2d543a786" Alias="Testing 1 2 3" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Testing123</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2026-03-17T08:14:12</CreateDate>
    <NodeName Default="Testing 1 2 3" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "d2b33638-ecc0-45bd-bda0-7c6160422ade",
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Grid Test"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "80c58a11-48ba-43b5-aa3d-c444660a8d2b",
              "mediaKey": "43933cb4-0d29-412e-8e89-25ae76274b05",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "f7da7409-9bee-45b7-be99-8b4b172ee3d8",
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Grid Test"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "80c58a11-48ba-43b5-aa3d-c444660a8d2b",
              "mediaKey": "43933cb4-0d29-412e-8e89-25ae76274b05",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "bf4c3956-4496-4492-8074-6eef6797108c",
      "values": []
    },
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "eaf18857-5c6b-43ee-9065-8997349a89a0",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "d2b33638-ecc0-45bd-bda0-7c6160422ade",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f7da7409-9bee-45b7-be99-8b4b172ee3d8",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d2b33638-ecc0-45bd-bda0-7c6160422ade",
        "rowSpan": 1,
        "settingsKey": "bf4c3956-4496-4492-8074-6eef6797108c"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f7da7409-9bee-45b7-be99-8b4b172ee3d8",
        "rowSpan": 1,
        "settingsKey": "eaf18857-5c6b-43ee-9065-8997349a89a0"
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>