<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed5a2c4-b6a0-4566-9d44-23fb7844abdc" Alias="Block List Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlockListTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockList</ContentType>
    <CreateDate>2024-04-23T14:41:04</CreateDate>
    <NodeName Default="Block List Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c021e223-9e49-4725-b942-eb2562f00b84">BlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "00e0889e-11fb-4567-8617-52332fd70e78",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
                  "key": "958bbdb2-3a5a-4b01-a791-2c0f52b75c8b",
                  "udi": null,
                  "values": [
                    {
                      "alias": "richText",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": {
                        "blocks": {
                          "contentData": [
                            {
                              "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
                              "key": "d5750da6-80c1-4bbb-a8a0-415dd8fece01",
                              "udi": null,
                              "values": [
                                {
                                  "alias": "headline",
                                  "culture": null,
                                  "editorAlias": null,
                                  "segment": null,
                                  "value": "Card"
                                },
                                {
                                  "alias": "richText",
                                  "culture": null,
                                  "editorAlias": null,
                                  "segment": null,
                                  "value": {
                                    "blocks": {
                                      "contentData": [],
                                      "settingsData": [],
                                      "expose": [],
                                      "Layout": {}
                                    },
                                    "markup": "\u003Cp\u003ECard\u003C/p\u003E"
                                  }
                                },
                                {
                                  "alias": "image",
                                  "culture": null,
                                  "editorAlias": null,
                                  "segment": null,
                                  "value": [
                                    {
                                      "key": "34f6ae49-c40a-48dc-8bf5-76e15338d74b",
                                      "mediaKey": "43933cb4-0d29-412e-8e89-25ae76274b05",
                                      "mediaTypeAlias": "Image",
                                      "crops": [],
                                      "focalPoint": null
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
                              "key": "7c148275-f23c-4c04-a4bf-ceadddeeb470",
                              "udi": null,
                              "values": [
                                {
                                  "alias": "richText",
                                  "culture": null,
                                  "editorAlias": null,
                                  "segment": null,
                                  "value": {
                                    "blocks": {
                                      "contentData": [
                                        {
                                          "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
                                          "key": "617c395b-01cc-4a3d-b488-f753c49fdcbe",
                                          "udi": null,
                                          "values": [
                                            {
                                              "alias": "headline",
                                              "culture": null,
                                              "editorAlias": null,
                                              "segment": null,
                                              "value": "Card inside RTE 3"
                                            },
                                            {
                                              "alias": "richText",
                                              "culture": null,
                                              "editorAlias": null,
                                              "segment": null,
                                              "value": {
                                                "blocks": {
                                                  "contentData": [],
                                                  "settingsData": [],
                                                  "expose": [],
                                                  "Layout": {}
                                                },
                                                "markup": "\u003Cp\u003ECard inside RTE 3\u003C/p\u003E"
                                              }
                                            },
                                            {
                                              "alias": "image",
                                              "culture": null,
                                              "editorAlias": null,
                                              "segment": null,
                                              "value": [
                                                {
                                                  "key": "f0d62527-021a-49fa-96b6-ead5b5a43378",
                                                  "mediaKey": "cb4659fc-57b1-449a-a64c-6545e8495883",
                                                  "mediaTypeAlias": "Image",
                                                  "crops": [],
                                                  "focalPoint": null
                                                }
                                              ]
                                            }
                                          ]
                                        }
                                      ],
                                      "settingsData": [],
                                      "expose": [
                                        {
                                          "contentKey": "617c395b-01cc-4a3d-b488-f753c49fdcbe",
                                          "culture": null,
                                          "segment": null
                                        }
                                      ],
                                      "Layout": {
                                        "Umbraco.RichText": [
                                          {
                                            "contentKey": "617c395b-01cc-4a3d-b488-f753c49fdcbe",
                                            "contentUdi": null,
                                            "settingsKey": null,
                                            "settingsUdi": null
                                          }
                                        ]
                                      }
                                    },
                                    "markup": "\u003Cp\u003ERTE 3\u003C/p\u003E\u003Cumb-rte-block data-content-key=\u0022617c395b-01cc-4a3d-b488-f753c49fdcbe\u0022\u003E\u003C/umb-rte-block\u003E\u003Cp\u003E\u003C/p\u003E"
                                  }
                                }
                              ]
                            }
                          ],
                          "settingsData": [],
                          "expose": [
                            {
                              "contentKey": "d5750da6-80c1-4bbb-a8a0-415dd8fece01",
                              "culture": null,
                              "segment": null
                            },
                            {
                              "contentKey": "7c148275-f23c-4c04-a4bf-ceadddeeb470",
                              "culture": null,
                              "segment": null
                            }
                          ],
                          "Layout": {
                            "Umbraco.RichText": [
                              {
                                "contentKey": "d5750da6-80c1-4bbb-a8a0-415dd8fece01",
                                "contentUdi": null,
                                "settingsKey": null,
                                "settingsUdi": null
                              },
                              {
                                "contentKey": "7c148275-f23c-4c04-a4bf-ceadddeeb470",
                                "contentUdi": null,
                                "settingsKey": null,
                                "settingsUdi": null
                              }
                            ]
                          }
                        },
                        "markup": "\u003Cp\u003ERTE 2\u003C/p\u003E\u003Cumb-rte-block data-content-key=\u00227c148275-f23c-4c04-a4bf-ceadddeeb470\u0022\u003E\u003C/umb-rte-block\u003E\u003Cumb-rte-block data-content-key=\u0022d5750da6-80c1-4bbb-a8a0-415dd8fece01\u0022\u003E\u003C/umb-rte-block\u003E\u003Cp\u003E\u003C/p\u003E"
                      }
                    }
                  ]
                }
              ],
              "settingsData": [],
              "expose": [
                {
                  "contentKey": "958bbdb2-3a5a-4b01-a791-2c0f52b75c8b",
                  "culture": null,
                  "segment": null
                }
              ],
              "Layout": {
                "Umbraco.RichText": [
                  {
                    "contentKey": "958bbdb2-3a5a-4b01-a791-2c0f52b75c8b",
                    "contentUdi": null,
                    "settingsKey": null,
                    "settingsUdi": null
                  }
                ]
              }
            },
            "markup": "\u003Cp\u003ERTE 1\u003C/p\u003E\u003Cumb-rte-block data-content-key=\u0022958bbdb2-3a5a-4b01-a791-2c0f52b75c8b\u0022\u003E\u003C/umb-rte-block\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "43e5784f-e3f1-4725-8d2c-876cadaba21b",
      "key": "cd28b2c9-715d-4460-baf1-9bdba897490a",
      "udi": null,
      "values": [
        {
          "alias": "blockList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "43e5784f-e3f1-4725-8d2c-876cadaba21b",
                "key": "87aad3a3-a60d-494a-a286-0ebafc264f85",
                "udi": null,
                "values": [
                  {
                    "alias": "blockList",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
                          "key": "ebdc5c90-ed66-4b4a-a7e3-35fd203cffb4",
                          "udi": null,
                          "values": [
                            {
                              "alias": "headline",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Hero"
                            }
                          ]
                        }
                      ],
                      "settingsData": [
                        {
                          "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
                          "key": "4143228f-af34-4a97-bac8-09be91eaf7f7",
                          "udi": null,
                          "values": []
                        }
                      ],
                      "expose": [
                        {
                          "contentKey": "ebdc5c90-ed66-4b4a-a7e3-35fd203cffb4",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "ebdc5c90-ed66-4b4a-a7e3-35fd203cffb4",
                            "contentUdi": null,
                            "settingsKey": "4143228f-af34-4a97-bac8-09be91eaf7f7",
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
                "key": "c96f7f2e-2b8f-4cb3-a643-bcfe2bf41c5d",
                "udi": null,
                "values": []
              }
            ],
            "expose": [
              {
                "contentKey": "87aad3a3-a60d-494a-a286-0ebafc264f85",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "87aad3a3-a60d-494a-a286-0ebafc264f85",
                  "contentUdi": null,
                  "settingsKey": "c96f7f2e-2b8f-4cb3-a643-bcfe2bf41c5d",
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "5b1543e0-d8bd-4ed9-813c-6aa5ed9a9f1b",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00e0889e-11fb-4567-8617-52332fd70e78",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cd28b2c9-715d-4460-baf1-9bdba897490a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "00e0889e-11fb-4567-8617-52332fd70e78",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cd28b2c9-715d-4460-baf1-9bdba897490a",
        "contentUdi": null,
        "settingsKey": "5b1543e0-d8bd-4ed9-813c-6aa5ed9a9f1b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>