<?xml version="1.0" encoding="utf-8"?>
<Content Key="752e3c1c-f713-449a-a54f-10f1ab447e63" Alias="Nested Block Grid Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/NestedBlockGridTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-01-23T09:39:45</CreateDate>
    <NodeName Default="Nested Block Grid Test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "cc33ad78-0de3-4387-b380-cc661e62b259",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [
                {
                  "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
                  "key": "9279a779-1624-4ab3-a97a-a8d863c79a65",
                  "udi": null,
                  "values": [
                    {
                      "alias": "richText",
                      "culture": null,
                      "editorAlias": null,
                      "segment": null,
                      "value": {
                        "blocks": {
                          "contentData": [
                            {
                              "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
                              "key": "34c4e521-2e1e-45e8-9554-44109d41f35f",
                              "udi": null,
                              "values": [
                                {
                                  "alias": "headline",
                                  "culture": null,
                                  "editorAlias": null,
                                  "segment": null,
                                  "value": "Card inside RTE 2"
                                },
                                {
                                  "alias": "image",
                                  "culture": null,
                                  "editorAlias": null,
                                  "segment": null,
                                  "value": [
                                    {
                                      "key": "e6c94029-cb2e-4740-ad0b-8a6557f50f71",
                                      "mediaKey": "ff67c98b-dc69-43ec-859a-d22bba816664",
                                      "mediaTypeAlias": "Image",
                                      "crops": [],
                                      "focalPoint": null
                                    }
                                  ]
                                },
                                {
                                  "alias": "richText",
                                  "culture": null,
                                  "editorAlias": null,
                                  "segment": null,
                                  "value": {
                                    "blocks": {
                                      "contentData": [
                                        {
                                          "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
                                          "key": "331b9b91-aa20-4807-9424-bc722a4b844b",
                                          "udi": null,
                                          "values": [
                                            {
                                              "alias": "richText",
                                              "culture": null,
                                              "editorAlias": null,
                                              "segment": null,
                                              "value": {
                                                "blocks": {
                                                  "contentData": [],
                                                  "settingsData": [],
                                                  "expose": [],
                                                  "Layout": {}
                                                },
                                                "markup": "\u003Cp\u003ERTE 4 inside card\u003C/p\u003E"
                                              }
                                            }
                                          ]
                                        }
                                      ],
                                      "settingsData": [],
                                      "expose": [
                                        {
                                          "contentKey": "331b9b91-aa20-4807-9424-bc722a4b844b",
                                          "culture": null,
                                          "segment": null
                                        }
                                      ],
                                      "Layout": {
                                        "Umbraco.RichText": [
                                          {
                                            "contentKey": "331b9b91-aa20-4807-9424-bc722a4b844b",
                                            "contentUdi": null,
                                            "settingsKey": null,
                                            "settingsUdi": null
                                          }
                                        ]
                                      }
                                    },
                                    "markup": "\u003Cp\u003ERTE 3 inside card\u003C/p\u003E\u003Cumb-rte-block data-content-key=\u0022331b9b91-aa20-4807-9424-bc722a4b844b\u0022\u003E\u003C/umb-rte-block\u003E\u003Cp\u003E\u003C/p\u003E"
                                  }
                                }
                              ]
                            }
                          ],
                          "settingsData": [],
                          "expose": [
                            {
                              "contentKey": "34c4e521-2e1e-45e8-9554-44109d41f35f",
                              "culture": null,
                              "segment": null
                            }
                          ],
                          "Layout": {
                            "Umbraco.RichText": [
                              {
                                "contentKey": "34c4e521-2e1e-45e8-9554-44109d41f35f",
                                "contentUdi": null,
                                "settingsKey": null,
                                "settingsUdi": null
                              }
                            ]
                          }
                        },
                        "markup": "\u003Cp\u003ERTE 2\u003C/p\u003E\u003Cumb-rte-block data-content-key=\u002234c4e521-2e1e-45e8-9554-44109d41f35f\u0022\u003E\u003C/umb-rte-block\u003E\u003Cp\u003E\u003C/p\u003E"
                      }
                    }
                  ]
                }
              ],
              "settingsData": [],
              "expose": [
                {
                  "contentKey": "9279a779-1624-4ab3-a97a-a8d863c79a65",
                  "culture": null,
                  "segment": null
                }
              ],
              "Layout": {
                "Umbraco.RichText": [
                  {
                    "contentKey": "9279a779-1624-4ab3-a97a-a8d863c79a65",
                    "contentUdi": null,
                    "settingsKey": null,
                    "settingsUdi": null
                  }
                ]
              }
            },
            "markup": "\u003Cp\u003ERTE 1\u003C/p\u003E\u003Cumb-rte-block data-content-key=\u00229279a779-1624-4ab3-a97a-a8d863c79a65\u0022\u003E\u003C/umb-rte-block\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cc33ad78-0de3-4387-b380-cc661e62b259",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "cc33ad78-0de3-4387-b380-cc661e62b259",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>