<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ac5363a-d812-4ce9-aa89-3a3973426c70" Alias="Services" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2023-08-25T13:17:12</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "054fd67a-a72d-4044-8226-11abeab7937d",
      "udi": null,
      "key": "400a392a-7513-40d5-b1bf-0d9ba2c8c9f7",
      "values": []
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": null,
      "key": "f0a95104-fc82-4890-b3e0-3517ff3f7807",
      "values": [
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u002246f51d33-b0df-4ddd-b5d8-b7dde8c17340\u0022,\u0022mediaKey\u0022:\u002243933cb4-0d29-412e-8e89-25ae76274b05\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        }
      ]
    },
    {
      "contentTypeKey": "e91cd36f-4bdf-4c74-90bf-b2c85fd00dae",
      "udi": null,
      "key": "d8d2bf00-b655-46ed-ae8e-ff70e763d1b8",
      "values": [
        {
          "editorAlias": "Umbraco.MediaPicker3",
          "culture": null,
          "segment": null,
          "alias": "image",
          "value": "[{\u0022key\u0022:\u0022ce985a79-ced3-4d16-ad5e-9f26e0d8d54e\u0022,\u0022mediaKey\u0022:\u00225872cc10-20cc-498b-999f-7c08c0c05357\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
        }
      ]
    },
    {
      "contentTypeKey": "62351bd5-75fc-4d93-a6b2-b99439a9161f",
      "udi": null,
      "key": "eaf08a00-5dd9-414e-b8a9-358cf0abcc66",
      "values": [
        {
          "editorAlias": "Umbraco.TextBox",
          "culture": null,
          "segment": null,
          "alias": "headline",
          "value": "Testing 1 2 3"
        }
      ]
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "udi": null,
      "key": "480bed38-2ab2-43c6-a27c-ce9d1e9adfd9",
      "values": [
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "richText",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003ESome content would go here...\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    },
    {
      "contentTypeKey": "1d05aa7a-16bd-4f3f-b094-023fd0bf0332",
      "udi": null,
      "key": "2af3edcc-b3fd-44f9-8af9-ddd6aa27f146",
      "values": [
        {
          "editorAlias": "Umbraco.MultiUrlPicker",
          "culture": null,
          "segment": null,
          "alias": "link",
          "value": "[{\u0022name\u0022:\u0022And a cta...\u0022,\u0022target\u0022:null,\u0022udi\u0022:\u0022umb://document/6e2ff1f7114e484ba407918daded1aa6\u0022,\u0022url\u0022:null,\u0022queryString\u0022:null}]"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "udi": null,
      "key": "b45f324e-10cd-4ebf-a4ee-35e36da8f8a9",
      "values": [
        {
          "editorAlias": "Umbraco.ColorPicker",
          "culture": null,
          "segment": null,
          "alias": "backgroundColor",
          "value": "{\r\n  \u0022label\u0022: \u0022000000\u0022,\r\n  \u0022value\u0022: \u0022#fbc4c5\u0022\r\n}"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "400a392a-7513-40d5-b1bf-0d9ba2c8c9f7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f0a95104-fc82-4890-b3e0-3517ff3f7807",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d8d2bf00-b655-46ed-ae8e-ff70e763d1b8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eaf08a00-5dd9-414e-b8a9-358cf0abcc66",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "480bed38-2ab2-43c6-a27c-ce9d1e9adfd9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2af3edcc-b3fd-44f9-8af9-ddd6aa27f146",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "8c07971d-0b53-4b8b-8c4c-826497dbb9e1",
            "items": [
              {
                "columnSpan": null,
                "rowSpan": 1,
                "areas": [],
                "contentUdi": null,
                "settingsUdi": null,
                "contentKey": "f0a95104-fc82-4890-b3e0-3517ff3f7807",
                "settingsKey": null
              }
            ]
          },
          {
            "key": "fa86159f-27b7-48ca-8bed-93566ccc7352",
            "items": [
              {
                "columnSpan": null,
                "rowSpan": 1,
                "areas": [],
                "contentUdi": null,
                "settingsUdi": null,
                "contentKey": "d8d2bf00-b655-46ed-ae8e-ff70e763d1b8",
                "settingsKey": null
              }
            ]
          },
          {
            "key": "d101715e-8e36-4899-b596-c19fc0793846",
            "items": [
              {
                "columnSpan": null,
                "rowSpan": 1,
                "areas": [],
                "contentUdi": null,
                "settingsUdi": null,
                "contentKey": "eaf08a00-5dd9-414e-b8a9-358cf0abcc66",
                "settingsKey": null
              },
              {
                "columnSpan": null,
                "rowSpan": 1,
                "areas": [],
                "contentUdi": null,
                "settingsUdi": null,
                "contentKey": "480bed38-2ab2-43c6-a27c-ce9d1e9adfd9",
                "settingsKey": null
              },
              {
                "columnSpan": null,
                "rowSpan": 1,
                "areas": [],
                "contentUdi": null,
                "settingsUdi": null,
                "contentKey": "2af3edcc-b3fd-44f9-8af9-ddd6aa27f146",
                "settingsKey": null
              }
            ]
          }
        ],
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "400a392a-7513-40d5-b1bf-0d9ba2c8c9f7",
        "settingsKey": "b45f324e-10cd-4ebf-a4ee-35e36da8f8a9"
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>