<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4036a141-f838-4bca-b7b7-4e14e3dbf4f0" Alias="accordion" Level="2">
	<Info>
		<Name>Accordion</Name>
		<Icon>icon-bulleted-list color-black</Icon>
		<Thumbnail>folder.png</Thumbnail>
		<Description></Description>
		<AllowAtRoot>False</AllowAtRoot>
		<IsListView>False</IsListView>
		<Variations>Nothing</Variations>
		<IsElement>true</IsElement>
		<HistoryCleanup>
			<PreventCleanup>False</PreventCleanup>
			<KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
			<KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
		</HistoryCleanup>
		<Folder>Blocks</Folder>
		<Compositions />
		<DefaultTemplate></DefaultTemplate>
		<AllowedTemplates />
	</Info>
	<Structure />
	<GenericProperties>
		<GenericProperty>
			<Key>864204a3-0ac5-49d6-8a4f-8e6e643909b0</Key>
			<Name>Accordion Items</Name>
			<Alias>accordionItems</Alias>
			<Definition>5fb08651-4cd4-49d9-9dd0-6f637ec6363e</Definition>
			<Type>Umbraco.BlockList</Type>
			<Mandatory>true</Mandatory>
			<Validation></Validation>
			<Description><![CDATA[]]></Description>
			<SortOrder>0</SortOrder>
			<Tab Alias="content">Content</Tab>
			<Variations>Nothing</Variations>
			<MandatoryMessage></MandatoryMessage>
			<ValidationRegExpMessage></ValidationRegExpMessage>
			<LabelOnTop>false</LabelOnTop>
		</GenericProperty>
	</GenericProperties>
	<Tabs>
		<Tab>
			<Key>4c9ad398-61a1-457f-88fa-bba45f278c61</Key>
			<Caption>Content</Caption>
			<Alias>content</Alias>
			<Type>Tab</Type>
			<SortOrder>0</SortOrder>
		</Tab>
	</Tabs>
</ContentType>