<?xml version="1.0" encoding="utf-8"?>
<Content Key="70eff386-2ac2-42b1-b35e-768e93aae1f6" Alias="Accordion Test Page" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/AccordionTestPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-06-04T15:24:45</CreateDate>
    <NodeName Default="Accordion Test Page">
      <Name Culture="en-US">Accordion Test Page</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="false">
      <Published Culture="en-US">false</Published>
    </Published>
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4036a141-f838-4bca-b7b7-4e14e3dbf4f0",
      "key": "505b3939-d034-4704-9964-4fc774f55334",
      "udi": null,
      "values": [
        {
          "alias": "accordionItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "2206cd26-80fb-4a81-99b4-a27533ef6fd5",
                "key": "0b58680a-6ada-40b0-9d04-3574a8d0257a",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Item 1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0b58680a-6ada-40b0-9d04-3574a8d0257a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0b58680a-6ada-40b0-9d04-3574a8d0257a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "42be5e0a-463b-498f-b8b7-9124c8b77cf9",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "505b3939-d034-4704-9964-4fc774f55334",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "505b3939-d034-4704-9964-4fc774f55334",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "42be5e0a-463b-498f-b8b7-9124c8b77cf9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>