<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ed5a2c4-b6a0-4566-9d44-23fb7844abdc" Alias="Block List Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlockListTest</Path>
    <Trashed>false</Trashed>
    <ContentType>blockList</ContentType>
    <CreateDate>2024-04-23T14:41:04</CreateDate>
    <NodeName Default="Block List Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c021e223-9e49-4725-b942-eb2562f00b84">BlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "054fd67a-a72d-4044-8226-11abeab7937d",
      "key": "547499b9-5473-47ae-9298-8181b491e676",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "054fd67a-a72d-4044-8226-11abeab7937d",
      "key": "e72c61a7-d3c5-4678-b0c3-5462991e0e3c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "054fd67a-a72d-4044-8226-11abeab7937d",
      "key": "a663beb1-c742-4608-ae0a-3be90a7664c0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "054fd67a-a72d-4044-8226-11abeab7937d",
      "key": "6b4e8f2b-cc97-47be-be34-717cd12222a7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "e92851d3-6afc-43a7-8867-269e44496d3d",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ETest\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "547499b9-5473-47ae-9298-8181b491e676",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e72c61a7-d3c5-4678-b0c3-5462991e0e3c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a663beb1-c742-4608-ae0a-3be90a7664c0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6b4e8f2b-cc97-47be-be34-717cd12222a7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e92851d3-6afc-43a7-8867-269e44496d3d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e72c61a7-d3c5-4678-b0c3-5462991e0e3c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "547499b9-5473-47ae-9298-8181b491e676",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a663beb1-c742-4608-ae0a-3be90a7664c0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6b4e8f2b-cc97-47be-be34-717cd12222a7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e92851d3-6afc-43a7-8867-269e44496d3d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>