<?xml version="1.0" encoding="utf-8"?>
<Content Key="048a558e-28f5-4a7b-837e-60bef6bf540d" Alias="Test" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGrid</ContentType>
    <CreateDate>2025-03-28T09:55:35</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09acf55b-fdd0-4cda-86fa-fa2caef695a9">BlockGrid</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "964feee4-efb3-4676-91a0-b960f26e9d92",
      "key": "1488959e-54da-4835-96e9-5e8b1761080b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "69de9db6-ec92-4989-a5f6-8437b8f3d5cd",
      "key": "1ac15cab-455a-4165-97c0-11f6241fd7a2",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch3 class=\u0022lead-paragraph\u0022\u003EWe provide several solutions for changing the environment, the economy, and production lines.\u003C/h3\u003E\n\u003Cp class=\u0022lead-paragraph\u0022\u003EWhat you can do to help reduce your carbon footprint depends on where you live, the resources you have, and how much time you can give. If you want to do something about global warming, however, then simple changes can have a big impact.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "key": "5b2ec74f-9a3e-4b49-9871-dec01c09b159",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b78be6c0-f0bd-400b-8412-2773b86dbbed",
              "mediaKey": "0d47b9c5-a0e1-474f-a867-e59c592e417f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Innovative indoor climate solution"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EKeep your organization sustainable with a green agenda.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "key": "bb0e34ea-cf5c-41c4-acfb-84dd888e8883",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bf356e7a-8b59-4963-8dc8-f6284870cde4",
              "mediaKey": "76e87651-7962-4c73-ae6b-684921a81c1e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Optimisation \u0026 implementation"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EYou can use that knowledge for branding and marketing.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "key": "8af43a33-f525-4d32-986d-46fa1d484fee",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b0a2a241-e24d-4c37-9f62-108c22863d71",
              "mediaKey": "591f607c-6a13-4773-a868-76db1148ffb0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Green production transition"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EAnalysis and facilitation, Use a combination of the two and implement them.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "key": "6d776472-c41c-47a5-ad57-dfe009438854",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f294e7ef-fd7f-4e30-84dc-9346d329b33e",
              "mediaKey": "87b7776d-f21b-4dda-8325-87b4d004dceb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Analysis \u0026 evaluation"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EWe provide a platform of knowledge, so you can use that knowledge for branding and marketing.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "key": "42fa8823-29f5-43e8-8f8f-9a07adfe7b52",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7f9a190e-c4ed-4c2a-86b8-48a4454eed23",
              "mediaKey": "0ce0babd-8047-48a0-bcc3-a2d1bf7cc7aa",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Carbon dioxide"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EChemical compound made up of molecules that each have one carbon atom covalently double bonded to two oxygen atoms\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "key": "61743a09-de99-41f3-9534-256a67ac84ce",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c1934b6f-077c-4677-847b-a6df6d9f5394",
              "mediaKey": "91f42a8e-6bdd-48ba-9e51-cc4e4540ffad",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Environmental footprint"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ECreating sustainable product innovation is an important parameter\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "56a73241-9dbd-46aa-a1ff-3d24ae2b6a33",
      "key": "69f04058-bc86-4582-bb20-e52980d8ac10",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "70f31be4-6bcf-425e-a49d-1fee2fedd81d",
              "mediaKey": "a406a55f-7122-4822-9fbb-95ae9f6bc39b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The transition to green production"
        },
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EUse a combination of analysis and facilitation, we help you make the right decisions and implement them.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "235bc4ea-92f7-407c-8190-138b5c08a309",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "TEst"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "119960d5-eb79-44e0-ab77-6e3fb48e49f1",
              "mediaKey": "65a066c2-b30d-497b-a53c-968e3f9a20d1",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "ffffff",
            "value": "#ffffff"
          }
        },
        {
          "alias": "mntp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/752e3c1cf713449aa54f10f1ab447e63"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "f53a5fb1-0f12-479d-bf74-8825a684287e",
      "udi": null,
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "f4f1ec",
            "label": "f4f1ec",
            "sortOrder": 3,
            "id": "4"
          }
        }
      ]
    },
    {
      "contentTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4",
      "key": "1534b3f8-89c4-4d19-899a-635498e56aac",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "a3d1fbc1-101d-4ac1-a753-37290d92a5b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bdd31450-155f-4c87-8956-7a5a16c7c3ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a607ffbe-1926-4d26-90f9-4bb5a49cee0b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "345ba960-7081-4f85-9a42-1556da152756",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "004654cd-3910-46cf-8357-0735e0ee3130",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1488959e-54da-4835-96e9-5e8b1761080b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1ac15cab-455a-4165-97c0-11f6241fd7a2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5b2ec74f-9a3e-4b49-9871-dec01c09b159",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bb0e34ea-cf5c-41c4-acfb-84dd888e8883",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8af43a33-f525-4d32-986d-46fa1d484fee",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6d776472-c41c-47a5-ad57-dfe009438854",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "42fa8823-29f5-43e8-8f8f-9a07adfe7b52",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "61743a09-de99-41f3-9534-256a67ac84ce",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "69f04058-bc86-4582-bb20-e52980d8ac10",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "235bc4ea-92f7-407c-8190-138b5c08a309",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [],
            "key": "3b490f17-1471-4ac4-9434-60e676639e29"
          }
        ],
        "columnSpan": 12,
        "contentKey": "235bc4ea-92f7-407c-8190-138b5c08a309",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "1534b3f8-89c4-4d19-899a-635498e56aac",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "1ac15cab-455a-4165-97c0-11f6241fd7a2",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "5b2ec74f-9a3e-4b49-9871-dec01c09b159",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "bb0e34ea-cf5c-41c4-acfb-84dd888e8883",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "8af43a33-f525-4d32-986d-46fa1d484fee",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "6d776472-c41c-47a5-ad57-dfe009438854",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "42fa8823-29f5-43e8-8f8f-9a07adfe7b52",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "61743a09-de99-41f3-9534-256a67ac84ce",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "69f04058-bc86-4582-bb20-e52980d8ac10",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "9f1c62ff-38ec-4488-bdc4-b39edfd425f3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1488959e-54da-4835-96e9-5e8b1761080b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f53a5fb1-0f12-479d-bf74-8825a684287e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>