<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7b892e8-f0fb-4680-9497-38c8f8f9b5a6" Alias="Code Editor" Level="1">
  <Info>
    <Name>Code Editor</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>