<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e644564-15e8-466e-8e01-b5639b1d53cb" Alias="Color Picker Eye Dropper" Level="1">
  <Info>
    <Name>Color Picker Eye Dropper</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EyeDropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>