<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b043e740-9e3c-40b6-b43f-3d24f1e6ae13" Alias="Multiple Textstring" Level="1">
  <Info>
    <Name>Multiple Textstring</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 10,
  "min": 0
}]]></Config>
</DataType>