<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36a2e617-030d-498b-a7d4-18a281923142" Alias="blockList" Level="1">
  <Info>
    <Name>Block List</Name>
    <Icon>icon-filter-arrows color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlockList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c021e223-9e49-4725-b942-eb2562f00b84">BlockList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ca01f2ad-4fde-42ff-9952-76629e8c1780" SortOrder="0">blockGrid</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1e95879e-7623-443d-9b4c-34910a8fbe20</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>d455ec3d-a214-4b10-9d77-ca61ea867cd0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5abf23a8-c995-4c3b-bf26-9f9dea2a6604</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>