<?xml version="1.0" encoding="utf-8"?>
<Content Key="187c8fed-ff18-4074-a9eb-18caaffe77d3" Alias="Blue Block List" Level="2">
  <Info>
    <Parent Key="6e2ff1f7-114e-484b-a407-918daded1aa6">Home</Parent>
    <Path>/Home/BlueBlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>themedBlockList</ContentType>
    <CreateDate>2025-11-18T00:26:21</CreateDate>
    <NodeName Default="Blue Block List" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a48d2bf3-dff7-46fe-8e77-8c66e54a7523">ThemedBlockList</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "key": "967e1ad8-3954-4198-a14b-882b832060c6",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Test Headline"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c3fc37d9-a400-4da3-8196-874678e37c30",
              "mediaKey": "591f607c-6a13-4773-a868-76db1148ffb0",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "000000",
            "value": "#fbc4c5"
          }
        },
        {
          "alias": "contrast",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "000000",
            "value": "#000000"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "key": "bc20dc76-1591-4c3a-943a-d89c96e4a8a2",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "967e1ad8-3954-4198-a14b-882b832060c6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "967e1ad8-3954-4198-a14b-882b832060c6",
        "contentUdi": null,
        "settingsKey": "bc20dc76-1591-4c3a-943a-d89c96e4a8a2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
    <theme>
      <Value><![CDATA[[
  "Blue"
]]]></Value>
    </theme>
  </Properties>
</Content>