<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26ec20ae-3ecb-415c-9ad6-32d3730932a7" Alias="themedBlockList" Level="1">
  <Info>
    <Name>Themed Block List</Name>
    <Icon>icon-filter-arrows color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ThemedBlockList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a48d2bf3-dff7-46fe-8e77-8c66e54a7523">ThemedBlockList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ee203b15-5294-4515-befe-ef7023d217e3</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>d455ec3d-a214-4b10-9d77-ca61ea867cd0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8659b33f-3964-482e-9c84-634fac00dfc9</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>8cef27c9-0478-4ab1-9703-c51302e69838</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="theme">Theme</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0ccce263-0d0b-4dc9-9e96-d9c0f1889e75</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>ac43ac72-c511-4fb7-98ef-c5888c37fcc9</Key>
      <Caption>Theme</Caption>
      <Alias>theme</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>