<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d455ec3d-a214-4b10-9d77-ca61ea867cd0" Alias="Block List" Level="2">
  <Info>
    <Name>Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "432b58a8-01b7-47dc-8664-f72bf1045f66",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "1a16c578-dacc-4552-ad07-26553c8a34fd",
      "stylesheet": "~/css/myblockgridlayout.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "contentElementTypeKey": "43e5784f-e3f1-4725-8d2c-876cadaba21b",
      "settingsElementTypeKey": "cb6adf93-9c01-476c-970b-7469474db5b4"
    }
  ],
  "maxPropertyWidth": "100%",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>