<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5a4834e-8492-4f0e-b055-fc7fb8971456" Alias="CTA URL Picker" Level="2">
  <Info>
    <Name>CTA URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Block+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": "small"
}]]></Config>
</DataType>