<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e086b7f8-ecde-4645-8c2f-c5b695b673fa" Alias="Member Group Picker" Level="1">
  <Info>
    <Name>Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MemberGroupPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>