<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3dfbd9e-45ae-4315-8158-4f3a25fe9b25" Alias="Multi Node Tree Picker" Level="1">
  <Info>
    <Name>Multi Node Tree Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiNodeTreePicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>